# Ignore Python virtual environments
venv/

# Ignore macOS system files
.DS_Store

# Ignore Jupyter checkpoint folders
.ipynb_checkpoints/

# Ignore __pycache__ and other Python temp files
__pycache__/
*.pyc
*.pyo
*.pyd
